<div class="card" style="width: 19rem">
            <div class="card-header">
              <h3>{{post_subject}}</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{title}}</li>
                <li class="list-group-item">By:{{author}}</li>
                <li class="list-group-item">Date:{{date}}</li>
                <li class="list-group-item">Likes:{{likes}}</li>
                <li class="list-group-item">Dislikes:{{dislikes}}</li>
              </ul>
            </div>
          </div>